.postimage {
    grid-column: 2 / span 12;
    grid-row: 2 / 4;
    overflow: hidden;
    position: relative;
    /*position: absolute;                    */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

