* {
    box-sizing: border-box;
    font-weight: normal;
}

body {
    color: #555;
    background: #fefefe;
    text-align: center;
    font-family: "Roboto Mono", sans-serif;
    padding: 1em;
}

.card_list {
    position: relative;
    margin-right: 300px;
    margin-left: 300px;
}
