/*
  =============================
 */
.hero {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 50vh;
  color: black;
}

.hero h1 {
  font: bold 50px "Open Sans", sans-serif;
  color: #222;
  background: rgba(0, 0, 0, 0);
}

.hero .background-image {
  position: absolute;
  /*top: -50px;*/
  width: 100%;
  z-index: -1;
  height: 100%;
  background-size: cover;
  animation: 8s fadein 1s forwards;
}

.hero-content-area {
  position: relative;
  top: 50px;
  background: rgba(0, 0, 0, 0);
}

